
.sectionLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1677ff;
    float: left;
    width: 50%;
    height: 100vh;
}

.sectionLeft h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffff;
}

.sectionRight {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    width: 50%;
    height: 100vh;
}